<template name="lessonMaterial">

    {{! TOP MENU (two big buttons) }}
    <div class="row">

        {{! left: invite button}}
        <div class="col-xs-12 col-md-4 col-lg-6">
            {{>actionButton
                    type="outline-secondary btn-block"
                    class="show-invitations-button h-100 mb-4"
                    icon="paper-plane"
                    label=(i18n "schoolClass.invite")
                    blocked=isStarting}}
        </div>

        {{! right: edit in unit editor; view phases schema }}
        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="card bg-primary text-light">
                <div class="card-body d-flex justify-content-end align-items-center">
                    <strong>{{i18n "lesson.phases.schema"}}</strong>
                    <span class="no-wrap ml-auto">
						{{# routeButton
                                href=(route "unitEditor" unitDoc._id 'phases')
                                title=(i18n "editor.unit.editInUnitEditor")
                                disabled=isNotIdle
                                type="outline-light"}}
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-caret-right"></i>
                        {{/routeButton}}
                        {{>actionButton
                                type="outline-light"
                                class="preview-all-phases-button"
                                icon="eye"
                                title=(i18n "common.preview")}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    {{! full phases list; list all phases and their linked material and groups }}
    <div class="my-4">
        {{#each phase in lessonPhases}}
            <ul class="list-group my-2">

                {{! general phase information (title, plot, period) }}
                <li class="list-group-item d-flex justify-content-between mt-1">
                    <div class="flex-fill text-primary">
                        {{#if phase.plot}}
                            <a data-toggle="collapse" href="#phase-collapse-{{@index}}" role="button"
                               aria-expanded="false" aria-controls="phase-collapse-{{@index}}">
                                {{phase.title}}
                            </a>
                            <div class="collapse" id="phase-collapse-{{@index}}">
                                <div class="card-body">{{phase.plot}}</div>
                            </div>
                        {{else}}
                            {{phase.title}}
                        {{/if}}
                    </div>
                    <span>{{phase.period}} {{i18n "time.min"}}</span>
                </li>

                {{#if feature "groups"}}
                {{! phase-related groups and their linked material }}
                    {{#if hasGroups phase._id}}
                        {{#each group in (groups phase._id)}}
                            <div class="d-flex bg-transparent border-0 mt-1">

                                {{! group default info }}
                                <div class="bg-primary text-white p-1 rounded w-25">
                                    {{group.title}}
                                </div>

                                {{! group material }}
                                <ul class="list-group flex-fill ml-1">
                                    {{#each materialId in group.material}}
                                        <li class="list-group-item d-flex">
                                            {{> lessonPhaseMaterial phaseMaterialAtts materialId phase group}}
                                        </li>
                                        {{! show task results if defined and activated by teacher }}
                                        {{#with showResults materialId group._id}}
                                            <li class="list-group-item">
                                                {{> taskResultTable this}}
                                            </li>
                                        {{/with}}
                                    {{else}}
                                        <li class="list-group-item">
                                            {{group.material.length}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/each}}
                    {{/if}}
                {{/if}}{{! end if feature "group"}}

                {{! phase referenced material }}
                {{#each reference in phase.references}}
                    <li class="list-group-item d-flex flex-wrap align-items-center">
                        {{> lessonPhaseMaterial phaseMaterialAtts reference.document phase}}
                    </li>

                    {{! show task results if defined and activated by teacher }}
                    {{#with showResults reference.document}}
                        <li class="list-group-item">
                            {{> taskResultTable this}}
                        </li>
                    {{/with}}
                {{/each}}

            </ul>
        {{/each}}


        {{#with unassociatedMaterial}}
            <ul class="list-group my-5">

                {{! general phase information (title, plot, period) }}
                <li class="list-group-item bg-secondary text-white">
                    {{i18n "phase.nonPhaseMaterial"}}
                </li>

                {{#if feature "groups"}}
                {{! phase-related groups and their linked material }}
                    {{#if hasGroups "global"}}
                        {{#each group in (groups "global")}}
                            <div class="d-flex bg-transparent border-0 mt-1">

                                {{! group default info }}
                                <div class="bg-primary text-white p-1 rounded w-25">
                                    {{group.title}}
                                </div>

                                {{! group material }}
                                <ul class="list-group flex-fill ml-1">
                                    {{#each materialId in group.material}}
                                        <li class="list-group-item d-flex">
                                            {{> lessonPhaseMaterial phaseMaterialAtts materialId phase group}}
                                        </li>
                                        {{! show task results if defined and activated by teacher }}
                                        {{#with showResults materialId group._id}}
                                            <li class="list-group-item">
                                                {{> taskResultTable this}}
                                            </li>
                                        {{/with}}
                                    {{else}}
                                        <li class="list-group-item">
                                            {{group.material.length}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/each}}
                    {{/if}}
                {{/if}}{{! end if feature "group"}}

                {{! phase referenced material }}
                {{#each reference in this}}
                    <li class="list-group-item d-flex flex-wrap align-items-center">
                        {{> lessonPhaseMaterial phaseMaterialAtts reference.document phase}}
                    </li>

                    {{! show task results if defined and activated by teacher }}
                    {{#with showResults reference.document}}
                        <li class="list-group-item">
                            {{> taskResultTable this}}
                        </li>
                    {{/with}}
                {{/each}}

            </ul>
        {{/with}}
    </div>

    {{! -------------------------- }}
    {{! START AND COMPLETE BUTTONS }}
    {{! -------------------------- }}

    <div class="row">
        {{#if isComplete}}
            <div class="col-12">
                <div class="card-body border border-success rounded">
                    <div class="card-title">
                        {{> lessonStatus lessonDoc=lessonDoc unitDoc=unitDoc showLabel=true bg=false}}
                    </div>
                    <p>
                        {{i18n "lesson.completeMessage"}}
                    </p>
                </div>
            </div>
        {{else}}
            <div class="col-xs-12 col-sm-6">
                {{#if isIdle}}
                    {{>actionButton
                            type="outline-primary btn-block"
                            class="start-lesson-button h-100 mb-4"
                            icon="rocket"
                            label=(i18n "lesson.actions.start")
                            blocked=isStarting}}
                {{else if isRunning}}
                    {{>actionButton
                            type="outline-secondary btn-block passive"
                            class="h-100 mb-4"
                            icon="play"
                            label=(i18n "lesson.states.running")}}
                {{/if}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{#if isRunning}}
                    {{>actionButton
                            type="success btn-block"
                            class="complete-lesson-button h-100 mb-4"
                            icon="flag"
                            label=(i18n "lesson.actions.complete")
                            blocked=isStarting}}
                {{else if isIdle}}
                    {{>actionButton
                            type="outline-secondary btn-block passive"
                            class="h-100 mb-4"
                            icon="flag"
                            label=(i18n "lesson.actions.complete")}}
                {{/if}}
            </div>
        {{/if}}
    </div>

    {{! ===================================================================== }}

    {{! MODALS }}

    {{! ===================================================================== }}

    {{! BEAMER PREVIEW MODAL to preview content on the beamer and allow teacher
        to control the beamer from within their own environment}}

    {{#modal id="lesson-beamer-preview-modal" large=true static=true scrollable=true xl=true
             contentClass="overflow-auto"}}
        {{#mheader dismiss=true title=(i18n "actions.presentResults")
                   class="bg-secondary text-white"}}{{/mheader}}
        {{#with currentTaskDoc}}
            {{#mbody}}
            {{! general task information }}
                <div class="font-weight-bold">{{../title}}</div>
                {{#if ../description}}
                    <p>{{../description}}</p>
                {{/if}}
            {{/mbody}}

            {{! show all items of task }}
            {{#itemList taskDoc=this ulclass="my-5" liclass="border-0" liclass="align-items-center"}}
                <span class="mx-2">
                    {{> icon name=item.context.icon}}
                </span>

                <div class="present-item-info flex-fill">
                    <div class="font-weight-bold">
                        <span>{{item.title}}</span>
                    </div>
                    <div>"{{this.item.label}}"</div>
                </div>

                <div class="present-item-actions no-wrap">

                    <div class="dropdown d-inline">
                        <button class="btn btn-{{#unless isOnBeamer ../_id
                                                         item.itemId}}outline-{{/unless}}secondary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            {{#with currentResponseProcessor item}}
                                {{> icon name=this.icon}}
                                {{i18n this.label}}
                            {{/with}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {{#each rp in item.responseProcessors}}
                                <a class="dropdown-item select-item-rp-button"
                                   href data-rp="{{rp.name}}" data-item="{{item.itemId}}">
                                    {{> icon name=rp.icon}}
                                    <span>{{i18n rp.label}}</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>

                    {{> actionButton
                            class="toggle-beamer-material-button"
                            type=(ternary (isOnBeamer ../_id this.item.itemId) "secondary" "outline-secondary")
                            icon="video"
                            data-meta=this.item.meta
                            data-context="task"
                            data-reference=../_id
                            data-item=this.item.itemId
                            data-defaultrp=(defaultResponseProcessor item)
                            blocked=(sendingToBeamer ../_id this.item.itemId)}}
                </div>
            {{/itemList}}
            {{#mbody class="py-5 text-center"}}
                {{> icon name="info"}} {{i18n "lesson.material.selectItemRp"}}
            {{/mbody}}
        {{else}}
            {{#mbody}}
                <div class="alert alert-warning">{{i18n "errors.docNotFound"}}</div>
            {{/mbody}}
        {{/with}}
    {{/modal}}

    {{! MATERIAL PREVIEW MODAL to preview material before sending to students}}

    {{#modal id="lesson-material-preview-modal" scrollable=true xl=true}}
        {{#mheader dismiss=true title=(i18n "lesson.material.preview")
                   class="bg-secondary text-white"}}{{/mheader}}
        {{#mbody}}
            {{#with previewData}}
                <div id="preview-material-target">
                    {{#if this.title}}
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                        </div>
                    {{/if}}
                    {{> Template.dynamic template=this.template data=this.data}}
                </div>
            {{else}}
                {{> loading title=(i18n "lesson.material.previewTemplate") type="view"}}
            {{/with}}
        {{/mbody}}
        {{#mfooter class="d-flex justify-content-between"}}
            <!--
            {{#with previewTarget}}
                {{#if isOnBeamer this.refId}}
                    {{> actionButton
                            type="primary"
                            class="toggle-beamer-material-button"
                            title=(i18n "actions.presentResults")
                            icon="video"
                            data-context=this.type
                            data-reference=this.refId
                            blocked=(sendingToBeamer this.refId)}}
                {{else}}
                    {{> actionButton
                            type="outline-primary"
                            class="toggle-beamer-material-button"
                            title=(i18n "actions.presentResults")
                            icon="video"
                            data-phase=this.phaseId
                            data-context=this.type
                            data-reference=this.refId
                            disabled=(presentButtonDisabled this.type)
                            blocked=(sendingToBeamer this.refId)}}
                {{/if}}
            {{/with}}
			-->
            <button class="btn btn-outline-primary print-material-preview-button">
                <i class="fa fa-fw fa-print"></i> {{i18n "actions.print"}}
            </button>
            <button class="btn btn-secondary" data-dismiss="modal">
                {{i18n "actions.close"}}
            </button>
        {{/mfooter}}
    {{/modal}}

    {{! PREVIEW PHASES MODAL to preview all phases in a summary table }}

    {{#modal id="lesson-material-preview-phases-modal" scrollable=true xl=true}}
        {{> mheader title=(i18n "common.preview") class="bg-secondary text-light" dismiss=true}}
        {{#with previewPhases}}
            <div class="testimonial-group h-100">
                <div class="row h-100">
                    <div class="col h-100 landscape" id="lesson-preview-phases">
                        <div class="font-weight-bold d-print-block">{{unitDoc.title}}</div>
                        <div class="font-small font-weight-light">
                            {{> phaseFullRenderer hidePlot=false phases=this unitDoc=unitDoc fluid=true responsive=true border=true actions=false}}
                        </div>
                    </div>
                </div>
            </div>
            {{#mfooter class="d-flex justify-content-between"}}
                {{> actionButton
                        class="print-phases-table-button"
                        data-target="lesson-preview-phases"
                        type="outline-primary"
                        label=(i18n "actions.print")
                        icon="print"
                        blocked=printing}}
                <button class="btn btn-outline-secondary" data-dismiss="modal">
                    {{i18n "actions.close"}}
                </button>
            {{/mfooter}}
        {{else}}
            {{#mbody}}
                {{> loading}}
            {{/mbody}}
        {{/with}}
    {{/modal}}
    {{> confirm static=true}}
</template>
