.pagecontent-edit-target {
    padding: 1rem;
}

.vspace-6 {
    margin-bottom: 6px;
}

.element-select-col {
    min-height: 6rem;
}

.task-content-move-entry-cursor {
  cursor: grab !important;
  cursor: -webkit-grabbing;
}