<template name="nav">
{{! TODO - side nav: https://getbootstrap.com/docs/5.1/examples/sidebars/# }}

	<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
		<div class="{{#if fluid}}container-fluid{{else}}container{{/if}}">
			<a class="navbar-brand" href="/">
                {{! TODO load logo from db, defined by admin }}
                {{! TODO use >Image template }}
				<img src="/main-logo.png" height="100" />
			</a>

			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			{{#if currentUser}}
				<div class="collapse navbar-collapse" id="collapsibleNavbar">

                    {{#onLoaded complete=templateLoaded showLoading=false}}
					<ul id="navbarDefaultMenu" class="navbar-nav mr-auto">
						<li class="nav-item">
							{{> link href="/" title=(i18n "routes.dashboard") active=(active 'dashboard') icon="home" class="nav-link font-weight-light"}}
						</li>
						<li class="nav-item">
							{{>link href=(route "prepare") title=(i18n "dashboard.prepare") active=(active 'prepare') icon="desktop" class="nav-link font-weight-light"}}
						</li>
						<li class="nav-item">
							{{>link href=(route "lessons") title=(i18n "dashboard.lesson") active=(active 'lessons' 'lesson') icon="users" class="nav-link font-weight-light"}}
						</li>
						<li class="nav-item disabled d-none d-sm-inline">
							<a href class="nav-link disabled" tabindex="0">|</a>
						</li>
						<li class="nav-item dropdown">
							{{>link id="navUserMenuDropdown" href="#" title=(i18n "nav.tools")
									active=(active 'unitEditor' 'taskEditor' 'unitWizard' 'taskWizard')
									icon="wrench"
									class="nav-link font-weight-light dropdown-toggle"
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"}}
							<div class="dropdown-menu dropdown-menu-right"
								 aria-labelledby="navUserMenuDropdown">
								<a href="{{route 'unitWizard'}}"
								   class="dropdown-item  {{#if active 'unitWizard'}}active{{/if}}">
									{{#with unitContext}}
										<i class="fa fa-fw fa-{{this.icon}}"></i> {{i18n "editor.unit.title"}}
									{{/with}}
								</a>
								<a href="{{route 'taskWizard'}}"
								   class="dropdown-item  {{#if active 'taskWizard'}}active{{/if}}">
									{{#with taskContext}}
										<i class="fa fa-fw fa-{{this.icon}}"></i> {{i18n "editor.task.title"}}
									{{/with}}
								</a>
							</div>
						</li>
					</ul>
                    {{/onLoaded}}

					{{!-- user related --}}
                    {{#onLoaded complete=templateLoaded showLoading=false}}
					<ul id="mainNavbarMenu" class="navbar-nav ml-auto">
						<li class="nav-item">
							{{>link id="globalShareButton" title=(i18n "common.share") icon="share-alt" class="nav-link font-weight-light"}}
						</li>
						<li class="nav-item">
							{{> beamer nav=true}}
						</li>
						<li class="nav-item">
							{{> print nav=true}}
						</li>
						<li class="nav-item">
							{{#if fluid}}
								{{> fluidSwitch fluid=true class="nav-link font-weight-light"}}
							{{else}}
								{{> fluidSwitch fluid=false class="nav-link font-weight-light"}}
							{{/if}}
						</li>
						<li class="nav-item dropdown">
							{{#link id="navUserMenuDropdown" href="#" title=(userEmail currentUser) class="nav-link font-weight-light dropdown-toggle"
									active=(active 'admin' 'profile')
									data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"}}
                                {{> profileImage user=currentUser flex=false height=20 width=20 round=true}}
							{{/link}}
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navUserMenuDropdown">
                                {{#if hasAtLeastRole 'schoolAdmin'}}
									<a href="{{route 'admin'}}" class="dropdown-item">
										{{>icon fw=true name="user"}} {{i18n "admin.title"}}
									</a>
								{{/if}}
                                {{#if isCurriculum}}
                                    <a href="{{route 'curriculum'}}" class="dropdown-item">
                                        <i class="fa fa-star fa-fw"></i> {{i18n "curriculum.title"}}
                                    </a>
                                {{/if}}
								<a href="{{route 'profile' currentUser._id}}" class="dropdown-item">
									<i class="fa fa-cog fa-fw"></i> {{i18n "nav.userProfile"}}
								</a>
                                {{> routeButton class="dropdown-item" href=(route "logout") icon="sign-out-alt" label=(i18n "nav.logout")}}
							</div>
						</li>
					</ul>
                    {{/onLoaded}}
				</div>
			{{/if}}
		</div>
	</nav>
	{{> share}}
</template>