.item-form-container > form {
  background: none;
}


input:disabled {
  pointer-events: none;
}


.itemrenderer-edit-button,
.itemrenderer-submit-button {
  z-index: 999;
}


.passive {
  opacity: 0.4;
  pointer-events: none;
}

.form-group > div {
  background-color: #fff;
}
