
$blue: #173050;
$indigo: #3297b2;
$pink: #e83e8c;
$red: #dc355e;
$yellow: #f2ae03;
$green: #28a745;
$teal: #1abc7f;
$cyan: #17a2b8;
$gray-100: #e7eced;
$gray-600: #868e96;
$primary: $cyan;
$secondary: $blue;
$info: $indigo;
$indigo-800: shade-color($indigo, 60%);
$gray-800: #343a40;
$dark: $gray-800;
$link-color: #17a2b8;
$link-decoration: none;
$link-hover-decoration: underline;
$link-hover-color: #173050;
$border-radius: 1rem;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$spacer: 1.1rem;
$headings-margin-bottom: $spacer / 2;
$headings-font-family: helvetica;
$headings-font-weight: 100;
$headings-color: $cyan;
$nav-tabs-border-color: $yellow;
$border-width: 1px;
$nav-tabs-border-width: $border-width * 2;
$white: #fff;
$nav-tabs-link-hover-border-color: $yellow $yellow $white;
$nav-tabs-link-active-border-color: $yellow $yellow $white;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-color: $yellow;
$dropdown-bg: $white;
$btn-disabled-opacity: .25;
$font-weight-bold: 700;
$btn-font-weight: $font-weight-bold;
$input-bg: $white;
$input-disabled-bg: $gray-100;
$input-border-color: $gray-100;
$input-btn-border-width: $border-width*2;
$input-focus-bg: $white;
$variable-prefix: bs-;
$prefix: $variable-prefix;
$text-muted: var(--#{$prefix}secondary-color);
$input-placeholder-color: $text-muted;
$input-group-addon-bg: $cyan;
$input-group-addon-border-color: $cyan;
$input-group-addon-color: $white;
$black: #000;
$dropdown-border-color: rgba($black, 0.15);
$dropdown-divider-bg: $white;
$dropdown-box-shadow: 0 0.5rem 1rem rgba($black, 0.175);
$gray-900: #212529;
$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: $yellow;
$dropdown-link-disabled-color: $gray-600;
$navbar-padding-x: 2rem;
$nav-link-disabled-color: $text-muted;
$table-cell-padding-y: 1rem;
$table-cell-padding-x: 1rem;
$table-cell-padding-y-sm: .5rem;
$table-cell-padding-x-sm: .5rem;
$gray-300: #dee2e6;
$table-hover-bg: $gray-300;
$table-border-width: $border-width*3;
$table-border-color: rgba($gray-100, 0);
$pagination-bg: $white;
$gray-200: #e9ecef;
$pagination-hover-bg: $gray-200;
$pagination-active-color: $white;
$pagination-disabled-color: $gray-600;
$card-spacer-y: 0.75rem;
$card-spacer-x: 1.25rem;
$card-cap-bg: $white;
$card-bg: $white;
$tooltip-color: $white;
$tooltip-bg: $black;
$tooltip-padding-y: 3px;
$tooltip-padding-x: 8px;
$tooltip-margin: 0;
$tooltip-arrow-color: $tooltip-bg;
$badge-font-size: 75%;
$font-weight-normal: 400;
$badge-font-weight: $font-weight-normal;
$badge-padding-y: .5em;
$badge-padding-x: .5em;
$modal-inner-padding: 1rem;
$modal-content-bg: $white;
$modal-content-border-color: $gray-100;
$modal-content-box-shadow-xs: 0 3px 9px rgba($black, 0.5);
$modal-content-box-shadow-sm-up: 0 5px 15px rgba($black, 0.5);
$modal-header-border-color: $gray-200;
$alert-padding-y: 0.75rem;
$alert-padding-x: 1.25rem;
$list-group-bg: $white;
$list-group-border-color: $gray-100;
$list-group-border-width: $border-width*3;
$list-group-item-padding-y: 0.75rem;
$list-group-item-padding-x: 1.25rem;
$list-group-hover-bg: $gray-300;
$list-group-disabled-color: $gray-600;
$list-group-action-active-bg: $gray-200;
$card-cap-color: $gray-600;
$card-border-width: $border-width * 2;
$list-group-active-color: $white;
$list-group-action-color: var(--#{$prefix}secondary-color);
$list-group-action-hover-color: $list-group-action-color;
$list-group-action-active-color: $cyan;
$figure-caption-font-size: 90%;
$figure-caption-color: $gray-600;
$code-font-size: 90%;
$kbd-padding-y: .2rem;
$kbd-padding-x: .4rem;