<template name="lessonStatus">
	<span class="{{class}} lesson-status">
        <span class="text-center">
            {{#with attributes}}
                {{#if ../showLabel}}
                    <span class="{{this.tooltipClass}}">
                        {{> icon fw=true name=this.icon class=this.iconClass}}
                        <span>{{i18n this.label}}</span>
                    </span>
                {{else}}
                    {{#tooltip class=this.tooltipClass title=(i18n this.label)}}
                        {{> icon fw=true name=this.icon class=this.iconClass}}
                    {{/tooltip}}
                {{/if}}
            {{/with}}
        </span>
	</span>
</template>