.pdf-js-container {
  height: 100%;
  max-height: 50vh;
  min-height: 250px;
  overflow: auto;
  position: absolute;
  width: 100%;
}

.pdf-viewer .page {
  display: inline-table !important;
}

.pdf-fullscreen {
  bottom: 0;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5678;
}
