<template name="taskProgress">
    <td>
        {{> profileImage user=userDoc label=true round=true width=16 height=16 class="border border-primary"}}
    </td>
    <td class="no-wrap">
        {{userDoc.lastName}}, {{userDoc.firstName}}
    </td>
    {{#with currentProgress}}
        <td class="no-wrap">{{i18n "common.page"}} {{this.page}}</td>
        <td class="w-100" colspan="2">
            <div class="progress">
                <div class="progress-bar bg-{{#if this.complete}}success{{else}}primary{{/if}}" role="progressbar"
                     style="width: {{this.progress}}%"
                     aria-valuenow="{{this.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </td>
    {{/with}}
</template>