.item-ref-text-panel {
  max-height: 8em;
  overflow-y: auto;
}

.break-auto {
  break-after: auto;
  break-before: auto;
  break-inside: auto;
}

.at-nouislider {
  min-height: 100px;
}

.task-renderer-prev-button,
.task-renderer-next-button,
.task-finish-button {
  z-index: 1060;
}

.task-content {
  margin-bottom: 8px;
  margin-top: 8px;
}

.task-renderer-hyphen-active {
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.task-renderer-respect-newline {
  white-space: pre-wrap;
}

.task-renderer-progressbar {
  z-index: 999;
}
