<template name="nav">
	<nav class="navbar navbar-expand-md bg-primary navbar-dark">
		<div class="{{#if fluid}}container-fluid{{else}}container{{/if}}">
			{{#with backRoute}}
				<a class="navbar-brand navbar-navlink" href="{{this.path}}">
					<i class="fa fa-fw fa-arrow-left"></i> {{i18n this.title}}
				</a>
				{{else}}
				<a class="navbar-brand navbar-navlink" href="/">
					<img src="/main-logo.png" height="30" />
				</a>
			{{/with}}

			<div class="d-flex flex-row order-2">
				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    {{> profileImage user=currentUser height=20 width=20 round=true class="border border-1 border-light"}}
                    {{> icon name="caret-down"}}
				</button>
			</div>


			<div class="collapse navbar-collapse order-3" id="collapsibleNavbar">

				<!-- user related -->
				<ul id="mainNavbarMenu" class="navbar-nav ml-auto">
                    {{!-- commented out until fully clear how to implement
                    <li class="nav-item py-2 py-md-0 no-wrap">
                        {{> link
                                id="globalShareButton"
                                href=null
                                icon="share-alt"
                                label=(i18n "nav.share")
                                class="nav-link navbar-navlink"}}
                    </li>
                    --}}
					<li class="nav-item py-2 py-md-0 no-wrap">
                        {{> link href=(route 'profile' currentUser._id)
                                icon="cog"
                                active=(active 'profile')
                                label=(i18n "nav.userProfile")
                                class="nav-link navbar-navlink"}}
					</li>
                    <li class="nav-item py-2 py-md-0 no-wrap">
                        {{> link href=null
                                icon="lock"
                                active=(active 'codeInvitation')
                                label=(i18n "nav.joinClass")
                                class="nav-link navbar-navlink enter-invitation-code-button"}}
                    </li>
					<li class="nav-item py-2 py-md-0 no-wrap">
                        {{> link href=(route "logout")
                                icon="sign-out-alt"
                                active=(active 'logout')
                                label=(i18n "nav.logout")
                                class="nav-link nav-logout-button navbar-navlink"}}
					</li>
				</ul>
			</div>

		</div>
	</nav>
    {{#if loadComplete}}
        {{> share}}
        {{> joinClass}}
    {{/if}}
</template>
