<template name="lessonInfo">
    {{#onLoaded complete=loadComplete}}
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-6">
                {{>actionButton
                        type="outline-secondary btn-block"
                        class="show-invitations-button h-100 mb-4"
                        icon="paper-plane"
                        label=(i18n "schoolClass.invite")
                        blocked=isStarting}}
            </div>
            <div class="col-xs-12 col-md-8 col-lg-6">
                <div class="card bg-transparent border border-secondary">
                    <div class="card-body d-flex justify-content-end align-items-center">
                        <strong>{{> icon name="users" fw=true}} {{i18n "group.createGroups"}}</strong>
                        <span class="no-wrap ml-auto">
                            {{>actionButton
                                    type="success"
                                    class="groups-action-btn"
                                    icon="plus"
                                    data-action="create"
                                    title=(i18n "actions.create")}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        {{! =============================================================== }}
        {{! GROUPS }}
        {{! =============================================================== }}
        {{#if feature "groups"}}
            {{> groupsEditor groupEditorAtts}}
        {{/if}}{{! end if feature "group" }}


        {{! =============================================================== }}
        {{! USERS }}
        {{! =============================================================== }}
        {{#with studentsForLesson}}
            <h3 class="mt-4">{{i18n "users.title"}}</h3>
            {{> userListRenderer users=this classDoc=classDoc class="my-4" liClass="border-0" onRemove=onRemove}}
        {{else}}
            <div class="jumbotron my-4">
                <p>{{i18n "lesson.noStudents"}}</p>
            </div>
        {{/with}}

        {{#if canRestart}}
            <div class="card border-warning my-4">
                <div class="card-body">
                    <button class="btn btn-warning restart-lesson-button">
                        {{i18n "lesson.actions.restart"}}
                    </button>
                </div>
            </div>
        {{/if}}
    {{/onLoaded}}
    {{> confirm static=true}}
</template>