<template name="main">
	{{#if isBeamer}}
		<main class="container-fluid py-4 main-beamer-container">
			{{> Template.contentBlock }}
		</main>
	{{else if isDesktop}}
		<main class="{{#if fluid}}container-fluid{{else}}container{{/if}} main-desktop-container">
			{{> Template.contentBlock }}
		</main>
	{{else if isMobile}}
		<main class="{{#if fluid}}container-fluid{{else}}container{{/if}} px-1 mx-auto main-mobile-container">
			{{> Template.contentBlock }}
		</main>
	{{/if}}
    {{> fatal id="fatal-error-modal" }}
    {{> notifications }}
</template>