<template name="uecodeView">
    {{#each entry in docs}}
        <div class="card mt-2">
            <div class="card-header d-flex justify-content-between">
                {{entry.title}}
                <button class="btn btn-outline-primary border-0" type="button" data-toggle="collapse"
                        data-target="#code-view-collapse-{{@index}}" aria-expanded="false"
                        aria-controls="code-view-collapse-{{@index}}">
                    {{> icon name="eye"}}
                </button>
            </div>
            <div class="card-body collapse" id="code-view-collapse-{{@index}}">
                <figure>
                    <pre><code>{{stringify entry.doc}}</code></pre>
                </figure>
            </div>
        </div>
    {{/each}}
</template>