@charset "UTF-8";

:root, [data-bs-theme=light] {
  --bs-blue: #173050;
  --bs-indigo: #3297b2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #dc355e;
  --bs-orange: #fd7e14;
  --bs-yellow: #f2ae03;
  --bs-green: #28a745;
  --bs-teal: #1abc7f;
  --bs-cyan: #17a2b8;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #95a5a6;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #e7eced;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #868e96;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #17a2b8;
  --bs-secondary: #173050;
  --bs-success: #1abc7f;
  --bs-info: #3297b2;
  --bs-warning: #f2ae03;
  --bs-danger: #dc355e;
  --bs-light: #e7eced;
  --bs-dark: #343a40;
  --bs-primary-rgb: 23, 162, 184;
  --bs-secondary-rgb: 23, 48, 80;
  --bs-success-rgb: 26, 188, 127;
  --bs-info-rgb: 50, 151, 178;
  --bs-warning-rgb: 242, 174, 3;
  --bs-danger-rgb: 220, 53, 94;
  --bs-light-rgb: 231, 236, 237;
  --bs-dark-rgb: 52, 58, 64;
  /*--bs-primary-text-emphasis: #ff0;*/
  /*--bs-secondary-text-emphasis: #ff0;*/
  /*--bs-success-text-emphasis: #ff0;*/
  /*--bs-info-text-emphasis: #ff0;*/
  /*--bs-warning-text-emphasis: #ff0;*/
  /*--bs-danger-text-emphasis: #ff0;*/
  /*--bs-light-text-emphasis: #ff0;*/
  /*--bs-dark-text-emphasis: #ff0;*/
  /*--bs-primary-bg-subtle: #ff0;*/
  /*--bs-secondary-bg-subtle: #ff0;*/
  /*--bs-success-bg-subtle: #ff0;*/
  /*--bs-info-bg-subtle: #ff0;*/
  /*--bs-warning-bg-subtle: #ff0;*/
  /*--bs-danger-bg-subtle: #ff0;*/
  /*--bs-light-bg-subtle: #ff0;*/
  /*--bs-dark-bg-subtle: #ff0;*/
  /*--bs-primary-border-subtle: #ff0;*/
  /*--bs-secondary-border-subtle: #ff0;*/
  /*--bs-success-border-subtle: #ff0;*/
  /*--bs-info-border-subtle: #ff0;*/
  /*--bs-warning-border-subtle: #ff0;*/
  /*--bs-danger-border-subtle: #ff0;*/
  /*--bs-light-border-subtle: #ff0;*/
  /*--bs-dark-border-subtle: #ff0;*/
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: var(--bs-gray-900);
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: var(--bs-white);
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #173050;
  --bs-emphasis-color-rgb: 23, 48, 80;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #dee2e6;
  --bs-secondary-bg-rgb: 236, 240, 241;
  --bs-tertiary-color: rgba(23, 162, 184, 0.5);
  --bs-tertiary-color-rgb: 23, 162, 184;
  --bs-tertiary-bg: #dee2e6;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;

  --bs-link-color: #17a2b8;
  --bs-link-color-rgb: 23, 162, 184;
  --bs-link-decoration: none;
  --bs-link-hover-color: #173050;
  --bs-link-hover-color-rgb: 23, 48, 80;
  --bs-code-color: var(--bs-danger);
  --bs-highlight-color: var(--bs-body-color);
  --bs-highlight-bg: var(--bs-info);
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: rgba(0, 0, 0, 0.1);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0;
  --bs-border-radius-sm: 0;
  --bs-border-radius-lg: 0;
  --bs-border-radius-xl: 0;
  --bs-border-radius-xxl: 0;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(44, 62, 80, 0.25);
  --bs-form-valid-color: var(--bs-success);
  --bs-form-valid-border-color: rgb(var(--bs-success));
  --bs-form-invalid-color: var(--bs-danger);
  --bs-form-invalid-border-color: rgb(var(--bs-danger));
  /* nav */
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #808b96;
  --bs-secondary-text-emphasis: #bfc9ca;
  --bs-success-text-emphasis: #74d7c4;
  --bs-info-text-emphasis: #85c1e9;
  --bs-warning-text-emphasis: #f8c471;
  --bs-danger-text-emphasis: #f1948a;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #090c10;
  --bs-secondary-bg-subtle: #1e2121;
  --bs-success-bg-subtle: #05261f;
  --bs-info-bg-subtle: #0a1e2c;
  --bs-warning-bg-subtle: #311f04;
  --bs-danger-bg-subtle: #2e0f0c;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #1a2530;
  --bs-secondary-border-subtle: #596364;
  --bs-success-border-subtle: #0e715e;
  --bs-info-border-subtle: #1f5b83;
  --bs-warning-border-subtle: #925e0b;
  --bs-danger-border-subtle: #8b2e24;
  --bs-light-border-subtle: #7b8a8b;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #808b96;
  --bs-link-hover-color: #99a2ab;
  --bs-link-color-rgb: 128, 139, 150;
  --bs-link-hover-color-rgb: 153, 162, 171;
  --bs-code-color: #f18bba;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #613e07;
  --bs-border-color: #7b8a8b;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #74d7c4;
  --bs-form-valid-border-color: #74d7c4;
  --bs-form-invalid-color: #f1948a;
  --bs-form-invalid-border-color: #f1948a;
}

/* CSS declarations go here */

body,
wrapper,
main {
  font-family: sans-serif;
  min-height: 100vh;
}

block {
  display: block;
}

table,
thead {
  width: 100%;
}

table tr th {
  border-bottom: 1px solid #4a4a4a;
}

.navbar-brand img {
  height: 28px;
}

table td {
  padding: 8px;
}

code {
  font-family: 'Lucida Console', Monaco, monospace;
}

.even {
  background-color: #fff;
}

.monospace {
  font-family: 'Courier New', Courier, monospace;
}

.odd {
  background-color: #fff;
}

.thead {
  font-weight: bold;
}

.tfoot {
  border-bottom: 0;
}

form {
  background-color: #fff;
  padding: 12px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clickable {
  cursor: pointer;
}

.draggable-anchor {
  cursor: grab;
}

.draggable-anchor-dragging {
  cursor: grabbing;
}

.spacer5 {
  height: 5em;
}

.spacer6 {
  height: 6em;
}

.spacer8 {
  height: 8em;
}

.spacer10 {
  height: 10em;
}

.iframe-form {
  border: 0;
  height: 100%;
  width: 100%;
}

.afhint-top-block {
  float: right;
}

.v-space-100 {
  height: 100px;
}

.v-space-200 {
  height: 200px;
}

.v-space-300 {
  height: 300px;
}

.v-space-400 {
  height: 400px;
}

.v-space-500 {
  height: 500px;
}

.text-bold {
  font-weight: bold;
}

.list-group-item,
.list-group-item:hover {
  z-index: auto;
}

.overflow-auto {
  overflow: auto;
}

.shadow-bottom-6 {
  box-shadow: 0 8px 6px -6px #fff;
}

.passive {
  opacity: 0.4;
  pointer-events: none;
}

.no-wrap {
  white-space: nowrap;
}

.textarea-codefont {
  font-family: 'Courier New', Courier, monospace;
}

.preview-image {
  max-height: 80px;
  max-width: 120px;
}

.white-space-normal {
  white-space: normal;
}

.passive {
  opacity: 0.65;
  pointer-events: none;
}

@media screen {
  .testimonial-group {
    overflow: hidden;
  }

  .testimonial-group > .row {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .testimonial-group > .row::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .testimonial-group > .row::-webkit-scrollbar {
    background-color: #f5f5f5;
    height: 12px;
    width: 0;
  }

  .testimonial-group > .row::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

}

/*  Non standard for WebKit */
p {
  hyphens: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

/*  TODO move TO fileList.scss */
.wrap-text {
  display: flex;
  flex-direction: column;
  /*  Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;
  /*  These are technically the same, but use both */
  overflow-wrap: break-word;

  -ms-word-break: break-all;
  /*  This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /*  Instead use this non-standard one: */
  word-break: break-word;
  word-wrap: break-word;
}

.word-break-all {
  word-break: break-all;
}

.word-break-headline {
  white-space: initial;
  word-break: break-word;
}

fieldset .list-group .list-group-item {
  border: 0 !important;
  padding: 0;
}

fieldset .card-header {
  padding-left: 0;
  padding-right: 0;
}


input[type='checkbox'] {
  transform: scale(2);
}

input[type='checkbox'] + label {
  margin-left: 1rem;
}

/*  we want disabled buttons to be much more transparent */

.btn.disabled,
.btn:disabled {
  opacity: 0.25 !important;
}
